* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.btncolor {
    background: #e2d1a3;
}

.btncolor:hover {
    color: #9ca9c1;
}

.welcome-text {
    padding: 80px;
    color: #f8f8f8;
}
