* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #3a5383;
}

Link {
    text-decoration: none;
    color: #fff;
}

.icon-style {
    color: #3a5383;
    opacity: 0.3;
}
.icon-style:hover {
    color: #3a5383;
    opacity: 1;

}

.fixed-btn {
    position: fixed;
    bottom: 0;
    left: 0;
}

h4, h4 a, h5 {
    color: #3a5383;
    font-size: larger;
    font-weight: bolder;
}

.solicitors {
    text-align: justify;
    color: #3a5383;
}

.form-solicitors {
    background: #b39546;
    margin: 0px 0px;
}

.signature-text {
    justify-content: center;
    text-align: center;
}

.side-text {
    color: #000;
    margin-top: 15px;
    text-align: justify;
}

.side-text-th {
    background: #3a5383;
    color: #f8f8f8;
}

.side-block-text {
    padding: 12px;
    color: #f8f8f8;
    border-radius: 3px;
    background: #3a5383;
    border-left: 7px solid #b39546;;
}

.links {
    margin: 5px;
    border: 2px solid #3a5383;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#btncolor {
    background: #3a5383;
    font-size: large;
    color: #fff;
}

#btncolorb {
    background: #3a5383;
    font-size: large;
    color: #fff;
}

.links-aa {
    margin: 5px;
    text-align: justify;
    padding: 6px;
    border: 2px solid #3a5383;
}

.links-aa a{
    padding: 0 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.links p {
    text-align: center;
    padding: 7px;
    justify-content: center;
    align-items: center;
}


.links a {
    text-align: center;
    padding: 7px;
    justify-content: center;
    align-items: center;
}

p {
    text-align: justify;
}

.btntop {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.welcome-text {
    padding: 80px;
    color: #b39546;
}

.card-text {
    text-align: justify;
    padding: 10px;
}

.card-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-deck {
    display: flex;
    flex-direction: row;
}
.card {
    display: flex;
    width: 550px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.size {
    height: 120px;
    width: 120px;
}