.home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.solicitors {
    text-align: justify;
}

.form-solicitors {
}

.side-text {
    color: #000;
    text-align: justify;
}

.side-block-text {
    background: lightgreen;
    border-left: 5px solid green;
}

.links {
    margin: 5px;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.links p {
    text-align: center;
    padding: 7px;
    justify-content: center;
    align-items: center;
}


.links a {
    text-align: center;
    padding: 7px;
    justify-content: center;
    align-items: center;
}

.card-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-deck {
    display: flex;
    flex-direction: row;
}
.card {
    display: flex;
    width: 550px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.size {
    height: 120px;
    width: 120px;
}