.home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #9ca9c1;
}

h4, h5 {
    color: #9ca9c1;
}

.solicitors {
    text-align: justify;
    color: #9ca9c1;
}

.form-solicitors {
    background: #e2d1a3;
    margin: 0px 0px;
}

.signature-text {
    justify-content: center;
    text-align: center;
}

.side-text {
    color: #000;
    margin-top: 15px;
    text-align: justify;
}

.side-text-th {
    background: #9ca9c1;
    color: #f8f8f8;
}

.side-block-text {
    padding: 12px;
    color: #f8f8f8;
    border-radius: 3px;
    background: #9ca9c1;
    border-left: 7px solid #e2d1a3;;
}

.links {
    margin: 5px;
    border: 2px solid #9ca9c1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#btncolor {
    background: #9ca9c1;
    font-size: large;
    color: #fff;
}

#btncolorb {
    background: #9ca9c1;
    font-size: large;
    color: #fff;
}

/* .btncolor:hover {
    background: #9baac5;
    color: #fff;
} */

.links-aa {
    margin: 5px;
    text-align: justify;
    padding: 6px;
    border: 2px solid #9ca9c1;
}

.links-aa a{
    padding: 0 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.links p {
    text-align: center;
    padding: 7px;
    justify-content: center;
    align-items: center;
}


.links a {
    text-align: center;
    padding: 7px;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    padding: 80px;
    color: #e2d1a3;
}

.card-text {
    text-align: justify;
    padding: 10px;
}

.card-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-deck {
    display: flex;
    flex-direction: row;
}
.card {
    display: flex;
    width: 550px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.size {
    height: 120px;
    width: 120px;
}