* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    margin: 0px;
  }

  .logosize {
    height: 120px;
  }

  .expert-text {
    margin-left: 8px;
  }

  .fsize {
    font-size: large;
    font-weight: bold;
    padding: 5px;
  }

  #fsize div {
    margin-left: 40px;
    justify-content: space-around;
    text-align: justify;
  }