* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    font-size: 1.5em;
  }

  .logosize {
    height: 150px;
  }

  .header-text {
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  /*  Media queries */

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}