* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.navcolor {
    background: #3a5383;
    color: #f8f8f8;
}

.colornav .colornav-link {
    font-size: 1.2em;
    color: #f8f8f8;
    text-decoration: none;
}

.colornav .colornav-link:hover {
  color: #b39546;
}

#basic-nav-dropdown{
  text-decoration: none;
}

.drop {
  color: #000;
  text-decoration: none;
}

.colornav {
  height: 40px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

li {
  list-style-type: none;
}